.result-card {
  padding: 1rem;
  border-radius: 10px;
  background: rgb(56 58 98);
  color: #eae9e9;
  box-shadow: 0 19px 34px rgba(0, 0, 0, 0.25);
  transition: transform 1s ease;
}

@keyframes list-item-appear {
  from {
    opacity: 0;
    transform: translateY(0.7rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sort-holder {
  text-align: right;
  margin-top: 3rem;
}

.sort-btn {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  background-clip: padding-box !important;
  background-image: linear-gradient(281deg, #420be6, #a16bb3);
  background-size: 101%;
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: 0 10px 30px 0 rgba(111, 57, 205, 0.3);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  outline: none;
  text-decoration: none;
  transition-duration: 400ms;
}

.sort-btn:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

.result-card h2 {
  text-align: center;
}

.timestamp {
  text-align: right;
  display: block;
  color: #b5b5b5;
  padding-top: 5px;
  padding-bottom: 4px;
}

.label {
  color: #f5f5f5;
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
  margin: 0.5rem 0.5rem 0rem;
  text-align: center;
}

.none {
  background: rgb(94 94 94);
}

.politics {
  background: rgb(0, 255, 88);
  background: linear-gradient(135deg, rgba(0, 255, 88, 1) 0%, rgba(0, 20, 255, 1) 70%);
}

.sexual {
  background: rgb(255, 10, 108);
  background: linear-gradient(135deg, rgba(255, 10, 108, 1) 0%, rgba(45, 39, 255, 1) 80%);
}

.health {
  background: rgb(255, 229, 59);
  background: linear-gradient(135deg, rgba(255, 229, 59, 1) 0%, rgba(255, 37, 37, 1) 70%);
}

.religion {
  background: rgb(232, 69, 139);
  background: linear-gradient(135deg, rgba(232, 69, 139, 1) 0%, rgba(54, 53, 83, 1) 100%);
}

.normal {
  background: #7c5589;
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  margin: 0;
  padding: 0;
}

.appear {
  animation: list-item-appear 0.3s ease-out forwards;
}

.sentense {
  white-space: pre-line;
  overflow-wrap: break-word; 
}