.new-expense__controls {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  flex-direction: column;
}

.platform__title {
  margin-bottom: 0rem !important;
}

.new-expense__controls h1{
  text-align: center;
  color: #f1efef;
  font-weight: 600;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: #dedada;
  font-weight: 500;
  text-transform: uppercase;

}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #7b7b7b;
  background: rgba(255,255,255,0.5);
  border: 1px solid #545454;
  width: 100%;
  min-width: fit-content;
  max-width: inherit;
  /* opacity: 0.8 ; */
  text-decoration: none;
  color: white;
}

.new-expense__control input::placeholder {
  color: #9f9f9f;
}

.new-expense__actions {
  max-width: inherit;
  display: inline-block;
  text-align: right;
}