.new-expense {
  background: rgb(0, 255, 91);
  /* background: linear-gradient(135deg, rgba(0,255,91,1) 0%, rgba(0,20,255,1) 100%); */
  background: linear-gradient(135deg, rgba(255, 44, 223, 1) 0%, rgba(0, 20, 255, 1) 100%);
  /* background-color: #a892ee; */
  /* background: rgb(0, 229, 255);
  background: linear-gradient(135deg, rgba(0, 229, 255, 1) 0%, rgba(18, 0, 255, 1) 100%); */
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
  border-radius: 12px;
  max-width: inherit;
  margin: 0.5rem;
  transition: opacity 400ms;
  border-style: none;
}

.new-expense button:hover {
  opacity: 0.8;
}

.new-expense .button {
  background-color: #49016b;
}

.new-expense .button.alternative {
  color: #220131;
  background-color: transparent;
}

.new-expense .button.alternative:hover,
.new-expense .button.alternative:active {
  background-color: #ddb3f8;
}
