.facebook-btn {
  background-color: #4267b2;
}

.facebook-btn:hover {
  filter: brightness(115%);
}

.twitter-btn {
  background-color: #03a9f4;
}

.twitter-btn:hover {
  filter: brightness(115%);
}

.selected {
  box-shadow: 0 0 10px #ffffff, 0 0 20px #bcc5d8;
  z-index: -1;
}
